*
{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav
{
    background-color: #1e40af; 
    padding: 1rem;
}

.nav-container ul
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-container li a
{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}